:root {
  --header-color: #140a00;
  --global-color: #ffffffff;
  --clicked-color: #4476ca;
  --unclicked-color: #878588;
  --basic-font-color: #7b7b7b;
  --subtext-color: #c0bfc2;
  --logo-color: #d31713;
}
/*
  push why?
  
*/
body {
  margin: 0;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  padding-left: 6px;
}

#container {
  height: 100vh;
  width: 100%;
}

#header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-color);
}
#header__list ul {
  padding-left: 0;
  display: flex;
  align-items: center;
}
#header__list .logo__title > a > i {
  padding: 10px 4px 8px 20px;
  font-size: 30px;
  color: var(--logo-color);
}
#header__list .logo__title .title {
  font-size: 20px;
  color: var(--subtext-color);
  font-weight: bold;
}
#header__list .search__menu {
  padding-right: 8px;
}
#header__list .search__menu > a {
  padding-right: 6px;
  color: var(--subtext-color);
}

video {
  width: 100vw;
  position: sticky;
  top: 0;
}

#video__data {
  display: flex;
  flex-direction: column;
  padding: 0;
}
#video__data > ul {
  padding: 10px 0px 10px 0px;
  display: flex;
  margin: 0;
}
#video__data > ul > li > a {
  padding: 0px 4px 0px 8px;
  font-size: 12px;
}
#video__data > .hashtag__list {
  padding: 0;
}
#video__data > .hashtag__list li > a {
  color: var(--clicked-color);
}

#video__data > .meta__list {
  width: 100%;
}
#video__data > .meta__list li {
  width: 100%;
  padding-left: 0;
}
#video__data > .meta__list li > .meta__discription__views {
  padding: 0px 8px;
}
#video__data > .meta__list li > .meta__discription__views li {
  padding-left: 0px;
}
.video__discription {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.video__discription > .video__discription__scr {
  flex-basis: 80%;
  flex-shrink: 3;
}
.video__discription > .video__discription__icon {
  flex-basis: 20%;
  flex-shrink: 1;
  display: flex;
  justify-content: flex-end;
}
.video__discription > .video__discription__icon a {
  color: var(--header-color);
}

#video__data > .meta__list .views__upload {
  font-size: 12px;
  color: var(--subtext-color);
}
#video__data > .meta__list > .avatar {
  text-align: center;
}
#video__data > .btn__list {
  display: flex;
  justify-content: space-around;
}
#video__data > .btn__list li {
  text-align: center;
  padding-left: 0;
}
#video__data > .btn__list li > a {
  font-size: 25px;
  color: var(--unclicked-color);
}
#video__data > .btn__list li > div {
  font-size: 13px;
}
#video__data > .ch__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 8px 10px 8px;
  margin: 20px 0px;
  border-bottom: 1px solid var(--subtext-color);
  border-top: 1px solid var(--subtext-color);
}
#video__data > .ch__list div {
  display: flex;
}
#video__data > .ch__list a {
  border: 0;
  background-color: white;
  color: var(--basic-font-color);
}
#video__data > .ch__list > .ch__info > .avatar {
  display: flex;
  align-items: center;
  padding: 8px;
  border: 5px solid black;
  border-radius: 50%;
}
#video__data > .ch__list > .ch__info > .ch__name__subs {
  padding-left: 0;
  text-align: center;
  margin-left: 10px;
}
#video__data > .ch__list > .ch__info > .ch__name__subs {
  padding: 5px;
}

.avatar {
  font-size: 10px;
  padding-top: 10;
}
#video__data > .ch__list > .ch__info > .ch__name__subs > .ch__name {
  font-size: 18px;
  color: var(--header-color);
}
.ch__subs {
  font-size: 10px;
  color: var(--subtext-color);
}

#upnext__list {
  padding-left: 8px;
}

#upnext__list > .text__upnext {
  color: var(--subtext-color);
  padding-bottom: 10px;
}
.video__item {
  padding-left: 0;
  display: flex;
}
.video__item > .item__thumbnail {
  width: 150px;
}
.video__item__meta,
.video__item__meta li {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.video__item__meta > a {
  align-self: flex-end;
  right: 0;
  padding: 3px 10px;
}
.video__item__meta > .item__discription > .discription__icon {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
}
.video__item__meta > .item__discription > .discription__icon i {
  padding: 0px 10px;
}
.item__ch__name__views {
  padding-left: 0;
  padding-left: 0;
  font-size: 13px;
  color: var(--subtext-color);
}

.video__item__meta > ul {
  display: flex;
}

.text__upnext {
  font-size: 15px;
}

.clicked {
  color: var(--clicked-color);
}
/*
  일단 CSS를 작성할 때, 너무 중구난방으로 나 조차도 뭐가 뭔지 헷갈릴 정도로 난장판인 것 같다.
  코드를 작성하기 전에 어느 정도 계획을 가지고 정돈해서 중간중간 수정하고 추가하고 삭제하는 횟수를 줄일 필요가 있다.
  SASS를 사용하면 더 가독성 좋은 CSS를 작성할 수 있다.
  이후에 PostCSS도 공부하면 좋고 필요하다면 Styled Component도 공부하면 좋다.

  Chrom DevTools에서 Elements 탭으로 화면의 요소의 속성(margin, padding, Empty Space 등)을 확인할 때,
  보라색에 빗줄이 쳐진 공간이 무엇을 의미하는 지를 몰라서 채널의 Discription 부분의 화살표 모양의 버튼(Discription 폈다 접었다.)을 배치할 때,
  의도한 대로 배치가 되지 않아 헤메다가 아래 링크에서 그 공간이 해당 "요소가 차지하지 않은 사용 가능한 공간"이라는 것을 알게 되어 다시 속성을 지정하여 해결할 수 있었다.
  https://stackoverflow.com/questions/67252231/what-is-the-purpose-of-this-purple-dashed-line-area

  이번 프로젝트에서 Discription을 폈다 접었다 하는 아이콘과 영상 리스트의 아이콘을 position: absolute로 지정하여 right: 10px 이런 식으로 
  오른쪽에 배치했는데, 이렇게 되면 화면을 좁혔을 때 텍스트와 겹쳐지게 된다.
  이 것을 상위 박스에 flex box를 적용하여 원하는 위치에 배치했더니 겹쳐지는 현상을 해결할 수 있었다.
*/
